
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.datosPet {
    display: flex;
    flex-direction: column;
    align-items: center;
}


progress {
  width: 200px;
  height: 20px;
  accent-color: #4CAF50; /* Esto tiñe la barra de verde automáticamente */
  border-radius: 5px;
}

@media (max-width: 420px) {
    button{
        padding: 10px;
        font-size: 0.6rem
    }
    .home, .choose{
        font-size: 0.6rem
    }
    .home > h1, .choose > h1{
        font-size: 0.6rem
    }
}